.navbar {
    height: 3rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: hsla(0,0%,98.4%,.603921568627450)9;
    backdrop-filter: blur(7px);
    border-radius: 8px;
}

.logo {
    object-fit: cover;
    height: 4rem;
    width: 5rem;
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
}

.desktopMenuListItem:hover {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #333;
}

.desktopMenuBtn {
    background: #333;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
}

.desktopMenuBtn:hover {
    cursor: pointer;
}

.desktopMenuImg {
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin-right: 1rem;
    margin-left: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}