.aboutContainer {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 35rem;
    height: 30rem;
    background-color: white;
    border-radius: 75px;
    margin: 2rem;
    padding: 2rem;
}

.aboutMassCont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.aboutImg {
    height: 25rem;
    width: 20rem;
    margin-right: 2rem;
    object-fit: cover;
    border-radius: 20px;
    margin-left: 0px;
}

.aboutText {
    height: 40rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin: 3px;
}

.aboutTitle {
    height: 4rem;
    max-height: 4rem;
    width: 15rem;
    margin: 6rem 0rem;
    margin-bottom: 2rem;
}

.aboutDesc {
    margin: 3px;
    height: 36rem;
    max-height: 36rem;
}

#about {
    background-image: url('../assets/aboutbkg.png');
    background-size: cover;
    height: 100vh;
}